#root {
    text-align: center;
    background-color: white;
    max-width: 90%;
}

img {
    max-width: 95%
}

.icon {
    max-width: 14%;
    position: absolute;
    right: 15%;
    top: 3%;
}

header {
    border: solid rgb(27, 44, 151) 5px;
    border-radius: 15px;
    background-color: rgb(183, 232, 232);
    max-width: 100%;
}

.foot {
    font-size:small;
}

button {
    background-color: rgb(183, 232, 232);
    color: (27, 44, 151);
    border-radius: 10px;
    font-size: larger;
    width: 24%;
    margin-top: 12%;
    margin-bottom: 12%;
}

.cats {
    text-align: center;
    width: 35%;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin-left: 15%;
}

.eve {
    width: 75%;
}

.backy {
    width: 35%;
}

textarea {
    width: 75%;
    max-height: 100%;
}

.time-grid {
    border: 5px solid rgb(27, 44, 151);
    border-radius: 5px;
}

.rows {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left, .right {
    border: 1px solid rgb(27, 44, 151);
}

.edit {
    font-size: smaller;
    margin: 1% 38% 1% 38%;
    display: block;
}

textarea {
    border: 3px solid rgb(27, 44, 151);
    border-radius: 10px;
}