#root {
    text-align: center;
    background-color: white;
    max-width: 90%;
}

img {
    max-width: 95%
}

.icon {
    max-width: 14%;
    position: absolute;
    right: 15%;
    top: 3%;
}

header {
    border: solid rgb(27, 44, 151) 5px;
    border-radius: 15px;
    background-color: rgb(183, 232, 232);
    max-width: 100%;
}

.foot {
    font-size:small;
}

button {
    background-color: rgb(183, 232, 232);
    color: (27, 44, 151);
    border-radius: 10px;
    font-size: larger;
    width: 24%;
    margin-top: 12%;
    margin-bottom: 12%;
}

.cats {
    text-align: center;
    width: 35%;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin-left: 15%;
}

.eve {
    width: 75%;
}